<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en-us"> 
    <base href="{global.baseUrl}">

    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script type="text/javascipt" charset="utf-8" src="public/app.js"></script>
    <link type="text/css" rel="stylesheet" href="public/app.css">
    <title>{header.title} | {global.companyName}</title>
</head>
<body class="{body.class}">
    <nav class="navbar">
        <ul class="nav-list">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Pizza</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="logo">
            <img src="logo.svg" alt="logo">
        </div>
        <div class="right">
            <a href="#" class="account"><i class="far fa-user"></i></a>
            <a href="#" class="shopping-cart"><i class="fas fa-shopping-basket"></i><span>0</span></a>
        </div>
    </nav>
</body>
</html>