<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="en-us"> 
    <base href="{global.baseUrl}">

    <meta name="description" content="{head.description}"> 
    <title>{head.title} | {global.companyName}</title>

    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link type="text/css" rel="stylesheet" href="public/app.css">

</head>
<body class="{body.class}">
    <img src="public/mozzarela.png" alt="mozzarela" class="mozzarela">
    <img src="public/oregano.png" alt="oregano" class="oregano">
    <img src="public/pizza.png" alt="pizza" class="pizza">
    <nav class="navbar">
        <ul class="nav-list">
            <li><a class="home-link" href="/">Home</a></li>
            <li><a class="pizza-link" href="/menu/pizza">Pizza</a></li>
        </ul>
        <div class="logo">
            <img src="public/logo.png" alt="logo" />
        </div>
        <div class="right">
            <a href="/session/deleted" class="logout" id='logoutButton'><i class="fas fa-sign-out-alt"></i></a>
            <a href="/session/create" class="account account-link"><i class="fas fa-user"></i></a>
            <a href="/customer/shopping-cart" class="shopping-cart shopping-cart-link"><i class="fas fa-shopping-basket"></i></a>
        </div>
    </nav>

    <div class="main-container">
