<div class="headline">
    <h1>Register</h1>
</div>
<div class="underline"></div>
<div class="text">
    <p>To be able to make an order, you have to create an account</p>
</div>
<p class="link">Or you can <a href="/session/create">login to your account</a></p>


<div class="formWrapper">
    <form id="customerCreate" action="/api/customers" method="POST">
      <div class="formError">Missing required fields</div>
      <div class="flexBox__formInputs">
          <div class="formInput">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name">
          </div>
          <div class="formInput">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name">
        </div>
      </div>


      <div class="flexBox__formInputs">
        <div class="formInput">
          <label for="street_address">Street Address</label>
          <input type="text" name="street_address">
        </div>

        <div class="formInput">
          <label for="zip_code">Zip Code</label>
          <input type="text" name="zip_code">
        </div>

      </div>

      <div class="formInput">
        <label for="email_address">Email Address</label>
        <input type="email" name="email_address">
      </div>

      <div class="formInput">
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>

      <div class="formInput checkboxInput">
        <label for="agreement">Do you agree to the terms and conditions?</label>
        <input type="checkbox" name="agreement" value="agree">
      </div>
      

      <div class="formInput button-container">
        <button class="button" type="submit">Register</button>
      </div>
 
    </form>
</div>